.catalog-item {
  box-sizing: border-box;

  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid #ebebeb;
  }

  @media (min-width: @tablet-width) {
    background-color: #f2f2f2;
    padding-bottom: 41px;
  }

  /*@media (min-width: @desktop-width) {
    width: 245px;
    height: 431px;
  }*/
}

.catalog-item_wrapper {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 38px;
    padding-right: 38px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 40px;
    padding-right: 34px;
  }
}

.catalog-item_info-wrapper {
  @media (max-width: @mobile-width-only) {
    margin-left: 50%;
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-bottom: 31px;
    margin-top: 160px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 163px;
    margin-bottom: 32px;
  }
}

.catalog-item__name {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #222222;

  @media (max-width: @mobile-width-only) {
    margin-top: 20px;
    margin-bottom: 13px;
  }

  @media (min-width: @tablet-width) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 17px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 3px;
    margin-bottom: 20px;
    line-height: 22px;
  }
}

.catalog-item__name br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.catalog-item__name span {
  @media (min-width: @tablet-width) {
    display: block;
  }
}

.catalog-item__table {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  width: 100%;
  padding-right: 20px;
  border-collapse: collapse;

  @media (max-width: @mobile-width-only) {
    line-height: 15px;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.catalog-item__data {
  text-align: right;
}

.catalog-item__name-link {
  text-decoration: none;
}

.catalog-item__image {
  position: absolute;
  bottom: 64px;
  left: 55px;

  @media (min-width: @tablet-width) {
    bottom: 262px;
    left: 81px;
  }

  @media (min-width: @desktop-width) {
    bottom: 270px;
    left: 43px;
  }
}

.catalog-item__image_pro1000chicken {
  @media (max-width: @mobile-width-only) {
    bottom: 52px;
    left: 49px;
  }

  @media (min-width: @tablet-width) {
    bottom: 255px;
    left: 78px;
  }

  @media (min-width: @desktop-width) {
    bottom: 267px;
    left: 41px;
  }
}

.catalog-item__image-pro500fish {
  @media (max-width: @mobile-width-only) {
    bottom: 60px;
  }

  @media (min-width: @tablet-width) {
    bottom: 262px;
  }

  @media (min-width: @desktop-width) {
    bottom: 270px;
  }
}

.catalog-item__image_pro1000fish {
  @media (max-width: @mobile-width-only) {
    bottom: 52px;
    left: 48px;
  }

  @media (min-width: @tablet-width) {
    bottom: 263px;
    left: 81px;
  }

  @media (min-width: @desktop-width) {
    bottom: 273px;
    left: 41px;
  }
}

.catalog-item__image_slim500buckwheat {
  @media (max-width: @mobile-width-only) {
    bottom: 55px;
    left: 55px;
  }

  @media (min-width: @tablet-width) {
    bottom: 262px;
    left: 83px;
  }

  @media (min-width: @desktop-width) {
    bottom: 272px;
    left: 43px;
  }
}

.catalog-item__image_slim1000buckwheat {
  @media (max-width: @mobile-width-only) {
    bottom: 53px;
    left: 48px;
  }

  @media (min-width: @tablet-width) {
    bottom: 262px;
    left: 83px;
  }

  @media (min-width: @desktop-width) {
    bottom: 274px;
    left: 40px;
  }
}

.catalog-item__image_slim500rice {
  @media (max-width: @mobile-width-only) {
    bottom: 55px;
    left: 54px;
  }

  @media (min-width: @tablet-width) {
    bottom: 263px;
  }

  @media (min-width: @desktop-width) {
    bottom: 273px;
  }
}

.catalog-item__td {
  @media (min-width: @tablet-width) {
    padding-top: 5px;
    padding-bottom: 9px;
  }
}

.catalog-item__tr {
  @media (min-width: @tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog-item__order-button_wrapper {
  margin-right: 2px;
}

.catalog-item__order-button {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 25px;
    font-size: 16px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }
}
