.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 64px;
  }
}
