.catalog-additional-goods-item {
  padding-bottom: 18px;
  border-bottom: 1px solid #cdcdcd;
}

.catalog-additional-goods-item__title {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}
