.catalog-item {
  padding-bottom: 25px;
  box-sizing: border-box;

  @media (max-width: @mobile-width-only) {
  border-bottom: 1px solid #ebebeb;
}

 @media (min-width: @tablet-width) {
   width: 324px;
   height: 430px;
   background-color: #f2f2f2;
 }

 @media (min-width: @desktop-width) {
   width: 245px;
   height: 431px;
 }
}

.catalog-item_wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.catalog-item__name {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.catalog-item-detail__title {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.catalog-item-detail__value {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
