.catalog-additional-goods-item {
  padding-bottom: 18px;
  border-bottom: 1px solid #cdcdcd;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding: 26px 38px 28px 38px;
  }

  @media (min-width: @desktop-width) {
    padding: 15px 1px 17px 1px;
  }
}

.catalog-additional-goods-item__title {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}
