.catalog-list {
  list-style: none;
  padding-left: 0;
  display: grid;

  @media (max-width: @mobile-width-only) {
    border-top: 1px solid #ebebeb;
    margin-bottom: 21px;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 324px);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 8.1%;
    row-gap: 141px;
    margin-left: 30px;
    margin-top: 164px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 143px;
    margin-left: 0;
    margin-top: 165px;
  }
}
