.contacts__text {
  padding: 28px 19px 26px 19px;
  display: flex;
  justify-content: space-between;
}

.contacts__invitation {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.contacts__address {
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.contacts__address span {
  display: block;

  @media (min-width: @tablet-width) {
    margin-top: 20px;
  }
}
