.contacts {

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.contacts__text {
  padding: 28px 19px 26px 19px;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    background-color: white;
    width: 570px;
    height: 201px;
    position: absolute;
    top: 120px;
    left: 100px;
    padding: 62px 89px 59px 76px;
  }
}

.contacts__invitation {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: @desktop-width) {
    line-height: 21px;
    margin: 0;
  }
}

.contacts__address {
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.contacts__address span {
  display: block;

  @media (min-width: @tablet-width) {
    margin-top: 20px;
  }
}

.contacts__map-wrapper {
  border: none;
  height: 362px;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

.contacts__map {
width: 100%;
height: 100%;
border: none;
}

.contacts__map:focus {
  outline: none;
}
