.copyright {
  display: flex;

  @media (max-width: @mobile-width-only) {
    justify-content: space-between;
    padding-top: 12px;
    border-top: 1px solid #d9d9d9;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin-top: 3px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.copyright__link {
  text-decoration: none;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;

  @media (max-width: @mobile-width-only) {
    width: 100%;
  }

  &:active {
    fill: #68b638;
    opacity: 0.3;
  }
}

.copyright__link:hover .copyright__link-logo {
  fill: #68b638;
}

.copyright__link:active .copyright__link-logo {
  fill: #68b638;
  opacity: 0.3;
}

.copyright a:not(:last-child) {
  margin-right: 22px;
}

.copyright__link-logo {
  margin-top: 9px;

  @media (min-width: @tablet-width) {
    margin-left: 23px;
  }
}
