.example {
  background-color: #eaeaea;
  padding: 27px 20px 25px 20px;

  @media (min-width: @tablet-width) {
    background-color: white;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-top: 125px;
  }
}

.example_info-image-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    background: linear-gradient(to right, #f2f2f2 73%, #eaeaea 73%);
    position: relative;
  }
}

.example_info-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 110px;
  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-bottom: 76px;
  }
}

.example__description {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.example__description br {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}
