.features {
  margin: 7px 21px 42px 20px;

  @media (min-width: @desktop-width) {
  margin: 0;
  margin-left: 110px;
  margin-top: 70px;
}
}

.features__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
  line-height: 60px;
  }
}
