.form-field-program {
  padding-top: 28px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 26px;

  @media (max-width: @mobile-width-only) {
    padding-top: 38px;
  }

  @media (min-width: @tablet-width) {
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    margin-bottom: 74px;
    width: 630px;
    height: 196px;
    margin-left: 71px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    width: 568px;
    margin-left: 0;
  }
}

.form-field-program__label {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  padding-left: 64px;
  padding-bottom: 25px;
  display: block;
  position: relative;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-left: 88px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-field-program__label:last-child {
  @media (max-width: @mobile-width-only) {
    padding-bottom: 24px;
  }
}

.form-field-program__label::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  top: -6px;
  left: 18px;

  @media (min-width: @tablet-width) {
    width: 38px;
    height: 38px;
    top: -4px;
    left: 27px;
  }
}

.form-field-program__input:hover + .form-field-program__label::before {
  border-color: #bababa;
}

.form-field-program__input:disabled + .form-field-program__label {
  opacity: 0.3;
}

.form-field-program__input:disabled + .form-field-program__label::before {
  opacity: 0.3;
}

.form-field-program__input:disabled + .form-field-program__label::after {
  opacity: 0.3;
}

.form-field-program__input:checked + .form-field-program__label::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  top: 3px;
  left: 26px;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
    top: 7px;
    left: 38px;
  }
}
