.form-field-cat_wrapper {
  border-bottom: 1px solid #d9d9d9;

  @media (max-width: @mobile-width-only) {
    padding-bottom: 9px;
  }

  @media (min-width: @tablet-width) {
    border: none;
    margin-left: 50px;
  }
}

.form-field-cat {
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: @mobile-width-only) {
    padding-left: 18px;
    padding-top: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
  }
}

.form-field-cat__label {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 14px;
  white-space: nowrap;

  @media (max-width: @mobile-width-only) {
    padding-top: 13px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    white-space: nowrap;
  }
}

.form-field-cat_questionnaire-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 14px;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 14px;
    margin-bottom: 18px;
  }
}

.form-field-cat_questionnaire-wrapper:nth-of-type(2) {
  column-gap: 18px;
}

.form-field-cat_questionnaire-wrapper:nth-of-type(3) {
  column-gap: 17px;
}

.form-field-cat__input {
  border: 1px solid #e7e7e7;
  padding-top: 5px;
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    padding-top: 7px;
  }
}

.form-field-cat__input:hover {
  border-color: #cdcdcd;
}

.form-field-cat__input:focus-within {
  outline: none;
  border-color: #444444;
}

.form-field-cat__input:invalid:not(:placeholder-shown) {
  border-color: #ff8282;
}

.form-field-cat__input-name {
  @media (max-width: @mobile-width-only) {
    width: 228px;
    height: 45px;
  }

  @media (min-width: @tablet-width) {
    width: 567px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 506px;
  }
}

.form-field-cat__input-weight {
  width: 202px;
  height: 45px;

  @media (min-width: @tablet-width) {
    width: 536px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 475px;
  }
}

.form-field-cat__input-age {
  width: 171px;
  height: 45px;

  @media (min-width: @tablet-width) {
    width: 497px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
  }
}

.form-field-cat__input::placeholder {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  padding-left: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 15px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 17px;
  }
}
