.form-field-program {
  padding-top: 28px;
  border-bottom: 1px solid #d9d9d9;
  @media (min-width: @tablet-width) {
    border: 1px solid #d9d9d9;
    width: 586px;
    height: 200px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.form-field-program__label {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  padding-left: 45px;
  padding-bottom: 25px;
  display: block;
}
