.functional-foods {
  box-sizing: border-box;
  position: relative;

  @media (max-width: @mobile-width-only) {
    background-image: url("../img/bg-cat-mobile@1x.png");
    background-color: #7abc4f;
    background-repeat: no-repeat;
    background-size: 100% 302px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-cat-mobile@2x.png");
    }
  }
}

.functional-foods__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  @media (max-width: @mobile-width-only) {
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
  }

  @media (min-width: @tablet-width) {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-left: 117px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-top: 107px;
    margin-bottom: 41px;
  }
}

.functional-foods__description {
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  @media (max-width: @mobile-width-only) {
    color: white;
  }

  @media (min-width: @tablet-width) {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 49px;
    margin-left: 118px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-bottom: 71px;
  }
}

.functional-foods_wrapper {
  @media (max-width: @mobile-width-only) {
    height: 275px;
    /*background-image: url("../img/bg-cat-mobile@1x.png");
    background-size: 100% 302px;
    background-color: rgba(104, 183, 56);
    background-repeat: no-repeat;
    position: relative;*/
    padding-top: 27px;
    margin-bottom: 200px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 537px;
  }

  @media (min-width: @desktop-width) {
    width: 500px;
    margin-bottom: 0;
    padding-left: 82px;
  }

  /*&::before {
    @media (max-width: @mobile-width-only) {
      position: absolute;
      content: "";
      background-image: url("../img/bg-cat-mobile@1x.png");
      background-repeat: no-repeat;
      background-color: #cdbeb6;
      opacity: 0.15;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100vw;
      height: 302px;
      margin: 0 auto;

      /*@media (min-resolution: 2dppx) {
        background-image: url("../img/bg-cat-mobile@2x.png");
        background-size: cover 302px;
      }
    }
  }*/
}

.functional-foods__button_wrapper {
  @media (max-width: @mobile-width-only) {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 302px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 68px;
    padding-left: 112px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    padding-left: 0;
  }
}

.functional-foods__button {
  /*@media (max-width: @mobile-width-only) {
    margin-top: 300px;
  }*/

  @media (min-width: @tablet-width) {
    display: inline;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 10px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.functional-foods__image {
  position: absolute;
  top: 168px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    top: 200px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    top: -83px;
    left: 225px;
    z-index: 1;
  }
}
