.functional-foods {
  padding-top: 27px;
  padding-bottom: 20px;
  position: relative;

  @media (max-width: @mobile-width-only) {
    height: 302px;
    background-color: rgba(104, 183, 56, 0.85);
    background-repeat: no-repeat;
    background-position: 50% 0;

    &::before {
    position: absolute;
    content: "";
    background-image: url("../img/bg-cat-tablet.png");
    background-repeat: no-repeat;
    top: 0;
    left: 50%;
    width: 320px;
    height: 302px;
    }
}

.functional-foods__title {
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  @media (max-width: @mobile-width-only) {
    color: white;
  }
}

.functional-foods__description {
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  @media (max-width: @mobile-width-only) {
    color: white;
  }
}

.functional-foods__button_wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.functional-foods__button {
  @media (min-width: @tablet-width) {
    display: inline;
    padding-left: 26px;
    padding-right: 26px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
