.page-main-index {

@media (min-width: @desktop-width) {
    &::after {
      position: absolute;
      content: "";
      background: url("../img/bg-cat-desktop@1x.png") no-repeat;
      background-repeat: no-repeat;
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
      z-index: -1;
    }
  }
}
