.page-footer-contacts-links {
  background-color: #f2f2f2;
  padding: 39px 20px 22px 20px;
}

.page-footer-contacts-links__logo {
  border-bottom: 1px solid #d9d9d9;
  display: block;
  text-align: center;
  padding-bottom: 32px;
}
