.page-footer-contacts-links {
  background-color: #f2f2f2;
  padding: 39px 20px 22px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    border: none;
  }
}

.page-footer-contacts-links__logo {
  display: block;
  text-align: center;
  padding-bottom: 32px;
}
