.program-selection {
  margin-top: 27px;
  margin-bottom: 32px;
}

.program-selection__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  padding-left: 20px;
}

.program-selection__text {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding-left: 20px;
}

.programs-list {
  display: grid;
}

@media (min-width: @desktop-width) {
  .programs-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
