.promo {
  height: 289px;

  @media (min-width: @tablet-width) {
    height: 200px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    height: 289px;
    text-align: center;
  }
}
