.show-all-goods {
  padding: 62px 20px 25px 21px;
  background-color: white;
  box-sizing: border-box;
  position: relative;

  @media (max-width: @mobile-width-only) {
    padding-bottom: 0;
    border-bottom: 1px solid #ebebeb;
  }

  @media (min-width: @tablet-width) {
    border: 2px solid #f2f2f2;
    padding-top: 140px;
    padding-bottom: 0;
  }
}

.show-all-goods__text {
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  display: block;
  margin-bottom: 8px;
  position: relative;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 22px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 85px;
  }
}

.show-all-goods__text br {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.show-all-goods__text::before {
  content: "";
  height: 2px;
  background-color: #d3d3d3;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;

  @media (max-width: @mobile-width-only) {
    width: 30px;
    top: -39px;
  }

  @media (min-width: @tablet-width) {
    width: 60px;
    top: -80px;
  }
}

.show-all-goods__text::after {
  content: "";
  width: 2px;
  background-color: #d3d3d3;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;

  @media (max-width: @mobile-width-only) {
    height: 30px;
    top: -53px;
  }

  @media (min-width: @tablet-width) {
    top: -110px;
    height: 60px;
  }
}

.show-all-goods__note {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
  text-transform: none;
  display: block;
  margin-top: 8px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-top: 23px;
  }
}

.show-all-goods__note br {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.show-all-goods__button-wrapper {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 38px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-left: 36px;
    padding-right: 35px;
  }
}

.show-all-goods__button {
  color: #444444;
  background-color: #f2f2f2;
  width: 100%;
  border: none;
  font-size: 16px;

  @media (min-width: @tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
  }
}

.show-all-goods__button:hover {
  background-color: #ebebeb;
}

.show-all-goods__button:active {
  color: rgba(0, 0, 0, 0.3);
}
