.site-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 443px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    position: relative;
    width: 483px;
  }
}

.site-list__item {
  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid #e6e6e6;
    padding-top: 22px;
    padding-bottom: 20px;
    text-align: center;
  }

  @media (min-width: @tablet-width) {
    padding-top: 18px;
    margin-left: 5px;
    margin-right: 5px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 16px;
  }
}

.site-list__item:first-child {
  @media (min-width: @desktop-width) {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.site-list__item:last-child {
  @media (min-width: @tablet-width) {
    margin-left: 10px;
    margin-right: 0;

    @media (min-width: @desktop-width) {
      margin-left: 5px;
    }
  }
}

.site-list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: medium;
  font-size: 20px;
  line-height: 20px;
  box-sizing: border-box;

  @media (max-width: @mobile-width-only) {
    letter-spacing: 0.03em;
  }

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav_closed .site-list__item {
    display: none;
  }

  .main-nav_nojs .site-list__item {
    display: block;
    text-align: center;
  }
}

.site-list__link--active {
  padding-bottom: 5px;
  border-bottom: 2px solid#68b738;
}

.site-list__link--white-theme {
  @media (min-width: @desktop-width) {
    color: white;
  }
}

.site-list__link--white-theme-active {
  @media (min-width: @desktop-width) {
    border-bottom: 2px solid white;
  }
}
