.slider__btn {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.slider {
  /*position: relative;*/

  @media (min-width: @tablet-width) {
    margin-top: 83px;
    background-image: linear-gradient(transparent 27%, #eaeaea 27%);
    padding-bottom: 70px;
    margin-bottom: -71px;
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(transparent 30%, #f2f2f2 30%);
    margin: 0;
    position: absolute;
    left: 47.2%;
    top: -60px;
    padding-bottom: 70px;
    width: 52.8%;
    /*position: absolute;
    bottom: 0;
    left: 300px;*/
  }
}

/*.slider::before {
  @media (min-width: @desktop-width) {
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0;
    right: 0;
    content: "";
    background-image: linear-gradient(to right, yellow 70%, blue 70%);
  }
}*/

.slider__images {
  position: relative;
  display: flex;
  flex-direction: row;

  @media (max-width: @mobile-width-only) {
    margin-top: 43px;
    margin-left: -20px;
    margin-bottom: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    justify-content: left;
  }
}

.slider__image-before {
  @media (min-width: @tablet-width) {
    margin-left: 44px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-top: 0;
  }
}

.slider__image-after {
  @media (min-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin-left: 138px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-left: 91px;
  }
}

.slider__range {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: min-content;
  margin: 0 auto;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    margin-top: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 35px;
    margin-left: 80px;
  }
}

.slider__button {
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;

  &:focus-within {
    outline: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;

    &:active {
      border-bottom: 1px solid #d9d9d9;
    }
  }
}

.slider__button_active {
  @media (min-width: @tablet-width) {
    border-bottom: 1px dotted #d9d9d9;
  }
}

.slider__progress-bar {
  position: relative;
  width: 84px;
  height: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  box-sizing: border-box;

  &::after {
    position: absolute;
    content: "";
    left: 5px;
    top: 3px;
    width: 5px;
    height: 6px;
    border-radius: 6px;
    background-color: #68b738;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (max-width: @mobile-width-only) {
    margin-left: 12px;
    margin-right: 13px;
  }

  @media (min-width: @tablet-width) {
    margin-left: 24px;
    margin-right: 20px;
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
  }
}

.slider__toggle {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: -16px;
    left: 0;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    border: 1px solid #cdcdcd;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      border-color: #68b738;
    }

    &::after {
      position: absolute;
      top: 12px;
      left: 12px;
      content: "";
      width: 8px;
      height: 8px;
      background-color: #68b738;
      border-radius: 50%;
    }
  }
}
