/*.slider {
  @media (min-width: @tablet-width) {
    margin-top: 83px;
    background-image: linear-gradient(transparent 27%, #eaeaea 27%);
    padding-bottom: 70px;
    margin-bottom: -71px;
    padding-left: 47px;
  }

  @media (min-width: @desktop-width) {
    background-image: none;
    margin: 0;
    position: absolute;
    left: 47.2%;
    top: -58px;
    padding-left: 0;
    padding-bottom: 70px;
    width: 52.8%;
  }
}*/

.slider {
  @media (min-width: @tablet-width) {
    margin-top: 83px;
    margin-left: 7px;
    padding-bottom: 635px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -75px;
    margin-left: 0;
    padding-left: 93px;
    padding-bottom: 0;
    position: relative;
    z-index: 3;
  }
}

.slider::after {
  @media (min-width: @desktop-width) {
    position: absolute;
    content: "";
    background-color: #eaeaea;
    width: 100vw;
    height: 100%;
    top: 210px;
    left: 501px;
  }
}

.slider__images {
  @media (max-width: @mobile-width-only) {
    margin-top: 43px;
    margin-left: -60px;
    margin-bottom: 26px;
    text-decoration: none;
  }

  @media (min-width: @tablet-width) {
    position: relative;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.slider__image-before-wrapper,
.slider__image-after-wrapper {
  list-style-type: none;
}

.slider__image-after-wrapper {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
  }
}

.slider__image-before {
  @media (min-width: @tablet-width) {
    margin-top: 0;
    clip-path: inset(0 340px 0 0);
    position: absolute;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    clip-path: inset(0 310px 0 0);
  }
}

.slider__image-after {
  @media (min-width: @tablet-width) {
    position: absolute;
    clip-path: inset(0 0 0 245px);
    left: 132px;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    clip-path: inset(0 0 0 275px);
    left: 92px;
  }
}

.slider__range {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: min-content;
  margin-left: 38px;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 70px;
    left: 61px;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    position: absolute;
    top: 572px;
    left: 214px;
  }
}

.slider__button {
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  z-index: 2;

  &:focus-within {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
  }
}

.slider__button--after {
  @media (max-width: @mobile-width-only) {
    margin-left: -2px;
  }
}

.slider__button--active {
  @media (min-width: @tablet-width) {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.25);
  }
}

.slider__progress-bar {
  position: relative;
  width: 84px;
  height: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  box-sizing: border-box;

  &::after {
    position: absolute;
    content: "";
    left: 5px;
    top: 3px;
    width: 36px;
    height: 6px;
    border-radius: 6px;
    background-color: #68b738;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (max-width: @mobile-width-only) {
    margin-left: 12px;
    margin-right: 13px;
    background-color: white;
  }

  @media (min-width: @tablet-width) {
    margin-left: 24px;
    margin-right: 20px;
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
  }

  @media (min-width: @desktop-width) {
    z-index: 2;
  }
}

.slider__toggle {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: -15px;
    left: 197px;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    border: 1px solid #cdcdcd;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:focus-within {
      outline: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      border-color: #68b738;
    }

    &::after {
      position: absolute;
      top: 12px;
      left: 12px;
      content: "";
      width: 8px;
      height: 8px;
      background-color: #68b738;
      border-radius: 50%;
    }
  }
}

.slider__button:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.slider__button:active {
  border-bottom: 1px solid transparent;
}
