.socials-list {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;

  @media (max-width: @mobile-width-only) {
    margin-top: 18px;
    margin-right: 7px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-left: 28px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 2px;
  }
}

.socials-list__item:not(:last-child) {
  @media (max-width: @mobile-width-only) {
    margin-right: 36px;
  }

  @media (min-width: @tablet-width) {
    margin-right: 28px;
  }
}

.socials-list__item {
  @media (min-width: @desktop-width) {
    margin-top: -10px;
  }
}

.socials-list__item.socials-list__item--instagram {
  @media (max-width: @mobile-width-only) {
    margin-top: 2px;
    margin-right: 34px;
  }

  @media (min-width: @tablet-width) {
    margin-right: 21px;
  }
}
