.submit {
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 61px;
  }

  @media (min-width: @desktop-width) {
    grid-gap: 81px;
  }
}

.submit__note {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  @media (max-width: @mobile-width-only) {
    text-align: center;
  }
}

.submit__button_wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.submit__button {
  width: 100%;
  border: none;

  @media (min-width: @tablet-width) {
    width: 282px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}
